.list_title{
    text-align: center;
    font-family: "Microsoft YaHei UI";
    font-size:18px;
    margin-top:20px;
}
.btn_add_person{
    float:right;
    margin-right:20px;
}
.btn_save{
    float:right;
    margin-right:20px;
}